<% content_for(:title) { "j4j" } %>
<div class="bg-[#161617] w-full rounded-xl">
  <h1 class="font-[Beausite_Classic] text-center text-2xl text-[#E8E8E8] font-light p-4">
    j<span class="text-2xl font-[Beausite_Classic_Italic] font-light">4</span>j
  </h1>
</div>
